In [22]:
# pandas :
# working with datasets :
# loading data through pandas

In [3]:
import pandas as pd

In [52]:
data=pd.read_csv("//home//chandan//machine//IPL_Ball_by_Ball_2022.csv")

In [53]:
data

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17907,1304047,2,17,5,SS Iyer,DJ Bravo,SP Jackson,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17908,1304047,2,17,6,SP Jackson,DJ Bravo,SS Iyer,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17909,1304047,2,18,1,SP Jackson,AF Milne,SS Iyer,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17910,1304047,2,18,2,SS Iyer,AF Milne,SP Jackson,NaN,2,0,2,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17911,1304047,2,18,3,SS Iyer,AF Milne,SP Jackson,NaN,4,0,4,0,0,NaN,NaN,NaN,Kolkata Knight Riders

In [54]:
# head()----> it returns top 5 rows from data set

In [55]:
data.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [56]:
data.head(10)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
5,1312200,1,0,6,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
6,1312200,1,1,1,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
7,1312200,1,1,2,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
8,1312200,1,1,3,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,4,0,4,0,0,NaN,NaN,NaN,Rajasthan Royals
9,1312200,1,1,4,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [12]:
data.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [13]:
# tail()-----> returns last rows from dataset

In [14]:
data.tail()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
17907,1304047,2,17,5,SS Iyer,DJ Bravo,SP Jackson,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17908,1304047,2,17,6,SP Jackson,DJ Bravo,SS Iyer,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17909,1304047,2,18,1,SP Jackson,AF Milne,SS Iyer,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17910,1304047,2,18,2,SS Iyer,AF Milne,SP Jackson,NaN,2,0,2,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17911,1304047,2,18,3,SS Iyer,AF Milne,SP Jackson,NaN,4,0,4,0,0,NaN,NaN,NaN,Kolkata Knight Riders

In [15]:
data.tail(7)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
17905,1304047,2,17,3,SW Billings,DJ Bravo,SS Iyer,NaN,0,0,0,0,1,SW Billings,caught,TU Deshpande,Kolkata Knight Riders
17906,1304047,2,17,4,SP Jackson,DJ Bravo,SS Iyer,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17907,1304047,2,17,5,SS Iyer,DJ Bravo,SP Jackson,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17908,1304047,2,17,6,SP Jackson,DJ Bravo,SS Iyer,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17909,1304047,2,18,1,SP Jackson,AF Milne,SS Iyer,NaN,1,0,1,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17910,1304047,2,18,2,SS Iyer,AF Milne,SP Jackson,NaN,2,0,2,0,0,NaN,NaN,NaN,Kolkata Knight Riders
17911,1304047,2,18,3,SS Iyer,AF Milne,SP Jackson,NaN,4,0,4,0,0,NaN,NaN,NaN,Kolkata Knight Riders

In [16]:
# random rows from data set

In [17]:
# sample()-----> returns random row from dataset

In [20]:
data.sample()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
15504,1304056,1,3,4,V Shankar,SN Thakur,Shubman Gill,NaN,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans

In [21]:
data.sample(3)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
16730,1304051,1,7,1,JC Buttler,Abhishek Sharma,SV Samson,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
725,1312197,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
16265,1304053,1,11,4,AT Rayudu,Ravi Bishnoi,S Dube,NaN,4,0,4,0,0,NaN,NaN,NaN,Chennai Super Kings

In [24]:
# info()----> information about dataset

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17912 entries, 0 to 17911
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 17912 non-null  int64
 1   innings            17912 non-null  int64
 2   overs              17912 non-null  int64
 3   ballnumber         17912 non-null  int64
 4   batter             17912 non-null  object
 5   bowler             17912 non-null  object
 6   non-striker        17912 non-null  object
 7   extra_type         1050 non-null   object
 8   batsman_run        17912 non-null  int64
 9   extras_run         17912 non-null  int64
 10  total_run          17912 non-null  int64
 11  non_boundary       17912 non-null  int64
 12  isWicketDelivery   17912 non-null  int64
 13  player_out         912 non-null    object
 14  kind               912 non-null    object
 15  fielders_involved  704 non-null    object
 16  BattingTeam        17912 non-null  object
dtypes: int64(9), object(8)
memory usage: 2.3+ MB

In [28]:
data.shape

(17912, 17)

In [29]:
# pandas------> anything extract from your dataset

In [32]:
# single coloumn extraction

In [33]:
data["bowler"]

0        Mohammed Shami
1        Mohammed Shami
2        Mohammed Shami
3        Mohammed Shami
4        Mohammed Shami
              ...
17907          DJ Bravo
17908          DJ Bravo
17909          AF Milne
17910          AF Milne
17911          AF Milne
Name: bowler, Length: 17912, dtype: object

In [34]:
# dataframe-----> series-----> numpy array

In [35]:
bowlers=data["bowler"].values

In [36]:
bowlers

array(['Mohammed Shami', 'Mohammed Shami', 'Mohammed Shami', ...,
       'AF Milne', 'AF Milne', 'AF Milne'], dtype=object)

In [37]:
# iloc-----> best extactin of dataset

In [38]:
# datasetname.iloc[rows,coloumns]

In [39]:
data.iloc[:,[4,5]]

            batter          bowler
0      YBK Jaiswal  Mohammed Shami
1      YBK Jaiswal  Mohammed Shami
2       JC Buttler  Mohammed Shami
3      YBK Jaiswal  Mohammed Shami
4      YBK Jaiswal  Mohammed Shami
...            ...             ...
17907      SS Iyer        DJ Bravo
17908   SP Jackson        DJ Bravo
17909   SP Jackson        AF Milne
17910      SS Iyer        AF Milne
17911      SS Iyer        AF Milne

[17912 rows x 2 columns]

In [41]:
data.iloc[:11,[4,5]]

         batter          bowler
0   YBK Jaiswal  Mohammed Shami
1   YBK Jaiswal  Mohammed Shami
2    JC Buttler  Mohammed Shami
3   YBK Jaiswal  Mohammed Shami
4   YBK Jaiswal  Mohammed Shami
5   YBK Jaiswal  Mohammed Shami
6    JC Buttler      Yash Dayal
7    JC Buttler      Yash Dayal
8    JC Buttler      Yash Dayal
9    JC Buttler      Yash Dayal
10   JC Buttler      Yash Dayal

In [42]:
data.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [43]:
data.iloc[50:100,1:5]

    innings  overs  ballnumber      batter
50        1      8           3  D Padikkal
51        1      8           4  D Padikkal
52        1      8           5  D Padikkal
53        1      8           6  D Padikkal
54        1      9           1  JC Buttler
55        1      9           2  JC Buttler
56        1      9           3  JC Buttler
57        1      9           4  JC Buttler
58        1      9           5  JC Buttler
59        1      9           6  JC Buttler
60        1     10           1  JC Buttler
61        1     10           2  JC Buttler
62        1     10           3  JC Buttler
63        1     10           4  D Padikkal
64        1     10           5  D Padikkal
65        1     10           6  D Padikkal
66        1     11           1  D Padikkal
67        1     11           2  JC Buttler
68        1     11           3  D Padikkal
69        1     11           4  JC Buttler
70        1     11           5  D Padikkal
71        1     11           6  SO Hetmyer
72        1     12           1  JC Buttler
73        1     12           2    R Ashwin
74        1     12           3    R Ashwin
75        1     12           4  SO Hetmyer
76        1     12           5  SO Hetmyer
77        1     12           6    R Ashwin
78        1     13           1    R Ashwin
79        1     13           2    R Ashwin
80        1     13           3  SO Hetmyer
81        1     13           4  SO Hetmyer
82        1     13           5  SO Hetmyer
83        1     13           6  SO Hetmyer
84        1     14           1  SO Hetmyer
85        1     14           2    R Ashwin
86        1     14           3  SO Hetmyer
87        1     14           4  SO Hetmyer
88        1     14           5  SO Hetmyer
89        1     14           6  SO Hetmyer
90        1     15           1    R Ashwin
91        1     15           2     R Parag
92        1     15           3    R Ashwin
93        1     15           4     R Parag
94        1     15           5    R Ashwin
95        1     15           6    TA Boult
96        1     16           1     R Parag
97        1     16           2    TA Boult
98        1     16           3     R Parag
99        1     16           4    TA Boult

In [44]:
data.head(2)

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals

In [45]:
data.iloc[1,4:6]

batter       YBK Jaiswal
bowler    Mohammed Shami
Name: 1, dtype: object

In [47]:
# loc-------> return 1 row data ----> single row data extraction

In [48]:
data.loc[100]

ID                            1312200
innings                             1
overs                              16
ballnumber                          5
batter                        R Parag
bowler                    LH Ferguson
non-striker                  TA Boult
extra_type                        NaN
batsman_run                         1
extras_run                          0
total_run                           1
non_boundary                        0
isWicketDelivery                    0
player_out                        NaN
kind                              NaN
fielders_involved                 NaN
BattingTeam          Rajasthan Royals
Name: 100, dtype: object

In [50]:
data.iloc[[9,10],:]

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
9,1312200,1,1,4,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
10,1312200,1,1,5,JC Buttler,Yash Dayal,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals

# self practice

In [61]:
dt=pd.read_csv("IPL_Matches_2022.csv")

In [62]:
dt

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,1304051,Pune,2022-03-29,2022,5,Rajasthan Royals,Sunrisers Hyderabad,"Maharashtra Cricket Association Stadium, Pune",Sunrisers Hyderabad,field,N,Rajasthan Royals,Runs,61,NaN,SV Samson,"['JC Buttler', 'YBK Jaiswal', 'SV Samson', 'D ...","['KS Williamson', 'Abhishek Sharma', 'RA Tripa...",BNJ Oxenford,UV Gandhe
70,1304050,Mumbai,2022-03-28,2022,4,Lucknow Super Giants,Gujarat Titans,"Wankhede Stadium, Mumbai",Gujarat Titans,field,N,Gujarat Titans,Wickets,5,NaN,Mohammed Shami,"['KL Rahul', 'Q de Kock', 'E Lewis', 'MK Pande...","['Shubman Gill', 'MS Wade', 'V Shankar', 'HH P...",PG Pathak,VK Sharma
71,1304049,Mumbai,2022-03-27,2022,3,Royal Challengers Bangalore,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Punjab Kings,field,N,Punjab Kings,Wickets,5,NaN,OF Smith,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'KD ...","['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L...",Nitin Menon,YC Barde
72,1304048,Mumbai,2022-03-27,2022,2,Mumbai Indians,Delhi Capitals,"Brabourne Stadium, Mumbai",Delhi Capitals,field,N,Delhi Capitals,Wickets,4,NaN,Kuldeep Yadav,"['RG Sharma', 'Ishan Kishan', 'Anmolpreet Sing...","['PP Shaw', 'TL Seifert', 'Mandeep Singh', 'RR...",RJ Tucker,HAS Khalid
73,1304047,Mumbai,2022-03-26,2022,1,Chennai Super Kings,Kolkata Knight Riders,"Wankhede Stadium, Mumbai",Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6,NaN,UT Yadav,"['RD Gaikwad', 'DP Conway', 'RV Uthappa', 'AT ...","['AM Rahane', 'VR Iyer', 'N Rana', 'SS Iyer', ...",AK Chaudhary,Nitin Menon

In [63]:
dt.head(5)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [64]:
dt.tail()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
69,1304051,Pune,2022-03-29,2022,5,Rajasthan Royals,Sunrisers Hyderabad,"Maharashtra Cricket Association Stadium, Pune",Sunrisers Hyderabad,field,N,Rajasthan Royals,Runs,61,NaN,SV Samson,"['JC Buttler', 'YBK Jaiswal', 'SV Samson', 'D ...","['KS Williamson', 'Abhishek Sharma', 'RA Tripa...",BNJ Oxenford,UV Gandhe
70,1304050,Mumbai,2022-03-28,2022,4,Lucknow Super Giants,Gujarat Titans,"Wankhede Stadium, Mumbai",Gujarat Titans,field,N,Gujarat Titans,Wickets,5,NaN,Mohammed Shami,"['KL Rahul', 'Q de Kock', 'E Lewis', 'MK Pande...","['Shubman Gill', 'MS Wade', 'V Shankar', 'HH P...",PG Pathak,VK Sharma
71,1304049,Mumbai,2022-03-27,2022,3,Royal Challengers Bangalore,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Punjab Kings,field,N,Punjab Kings,Wickets,5,NaN,OF Smith,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'KD ...","['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L...",Nitin Menon,YC Barde
72,1304048,Mumbai,2022-03-27,2022,2,Mumbai Indians,Delhi Capitals,"Brabourne Stadium, Mumbai",Delhi Capitals,field,N,Delhi Capitals,Wickets,4,NaN,Kuldeep Yadav,"['RG Sharma', 'Ishan Kishan', 'Anmolpreet Sing...","['PP Shaw', 'TL Seifert', 'Mandeep Singh', 'RR...",RJ Tucker,HAS Khalid
73,1304047,Mumbai,2022-03-26,2022,1,Chennai Super Kings,Kolkata Knight Riders,"Wankhede Stadium, Mumbai",Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6,NaN,UT Yadav,"['RD Gaikwad', 'DP Conway', 'RV Uthappa', 'AT ...","['AM Rahane', 'VR Iyer', 'N Rana', 'SS Iyer', ...",AK Chaudhary,Nitin Menon

In [66]:
dt.sample()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
16,1304104,Navi Mumbai,2022-05-11,2022,58,Rajasthan Royals,Delhi Capitals,"Dr DY Patil Sports Academy, Mumbai",Delhi Capitals,field,N,Delhi Capitals,Wickets,8,NaN,MR Marsh,"['YBK Jaiswal', 'JC Buttler', 'R Ashwin', 'D P...","['KS Bharat', 'DA Warner', 'MR Marsh', 'RR Pan...",NA Patwardhan,Nitin Menon
61,1304059,Mumbai,2022-04-05,2022,13,Rajasthan Royals,Royal Challengers Bangalore,"Wankhede Stadium, Mumbai",Royal Challengers Bangalore,field,N,Royal Challengers Bangalore,Wickets,4,NaN,KD Karthik,"['JC Buttler', 'YBK Jaiswal', 'D Padikkal', 'S...","['F du Plessis', 'Anuj Rawat', 'V Kohli', 'DJ ...",AK Chaudhary,HAS Khalid
36,1304084,Mumbai,2022-04-25,2022,38,Punjab Kings,Chennai Super Kings,"Wankhede Stadium, Mumbai",Chennai Super Kings,field,N,Punjab Kings,Runs,11,NaN,S Dhawan,"['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L...","['RD Gaikwad', 'RV Uthappa', 'MJ Santner', 'S ...",M Erasmus,Tapan Sharma
40,1304080,Mumbai,2022-04-22,2022,34,Rajasthan Royals,Delhi Capitals,"Wankhede Stadium, Mumbai",Delhi Capitals,field,N,Rajasthan Royals,Runs,15,NaN,JC Buttler,"['JC Buttler', 'D Padikkal', 'SV Samson', 'SO ...","['PP Shaw', 'DA Warner', 'SN Khan', 'RR Pant',...",NA Patwardhan,Nitin Menon

In [67]:
dt.sample(5)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
24,1304096,Mumbai,2022-05-05,2022,50,Delhi Capitals,Sunrisers Hyderabad,"Brabourne Stadium, Mumbai",Sunrisers Hyderabad,field,N,Delhi Capitals,Runs,21,NaN,DA Warner,"['Mandeep Singh', 'DA Warner', 'MR Marsh', 'RR...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",Navdeep Singh,NA Patwardhan
22,1304098,Mumbai,2022-05-07,2022,52,Punjab Kings,Rajasthan Royals,"Wankhede Stadium, Mumbai",Punjab Kings,bat,N,Rajasthan Royals,Wickets,6,NaN,YBK Jaiswal,"['JM Bairstow', 'S Dhawan', 'PBB Rajapaksa', '...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",Chirra Ravikanthreddy,YC Barde
41,1304079,Navi Mumbai,2022-04-21,2022,33,Mumbai Indians,Chennai Super Kings,"Dr DY Patil Sports Academy, Mumbai",Chennai Super Kings,field,N,Chennai Super Kings,Wickets,3,NaN,Mukesh Choudhary,"['RG Sharma', 'Ishan Kishan', 'D Brevis', 'SA ...","['RD Gaikwad', 'RV Uthappa', 'MJ Santner', 'AT...",BNJ Oxenford,UV Gandhe
21,1304099,Pune,2022-05-07,2022,53,Lucknow Super Giants,Kolkata Knight Riders,"Maharashtra Cricket Association Stadium, Pune",Kolkata Knight Riders,field,N,Lucknow Super Giants,Runs,75,NaN,Avesh Khan,"['Q de Kock', 'KL Rahul', 'DJ Hooda', 'KH Pand...","['B Indrajith', 'AJ Finch', 'SS Iyer', 'N Rana...",AK Chaudhary,MA Gough
54,1304065,Mumbai,2022-04-10,2022,19,Delhi Capitals,Kolkata Knight Riders,"Brabourne Stadium, Mumbai",Kolkata Knight Riders,field,N,Delhi Capitals,Runs,44,NaN,Kuldeep Yadav,"['PP Shaw', 'DA Warner', 'RR Pant', 'Lalit Yad...","['AM Rahane', 'VR Iyer', 'SS Iyer', 'N Rana', ...",CB Gaffaney,J Madanagopal

In [68]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               74 non-null     int64
 1   City             74 non-null     object
 2   Date             74 non-null     object
 3   Season           74 non-null     int64
 4   MatchNumber      74 non-null     object
 5   Team1            74 non-null     object
 6   Team2            74 non-null     object
 7   Venue            74 non-null     object
 8   TossWinner       74 non-null     object
 9   TossDecision     74 non-null     object
 10  SuperOver        74 non-null     object
 11  WinningTeam      74 non-null     object
 12  WonBy            74 non-null     object
 13  Margin           74 non-null     int64
 14  method           0 non-null      float64
 15  Player_of_Match  74 non-null     object
 16  Team1Players     74 non-null     object
 17  Team2Players     74 non-null     object
 18  Umpire1          74 non-null     object
 19  Umpire2          74 non-null     object
dtypes: float64(1), int64(3), object(16)
memory usage: 11.7+ KB

In [69]:
dt.shape

(74, 20)

In [70]:
dt["Team1"]

0                Rajasthan Royals
1     Royal Challengers Bangalore
2     Royal Challengers Bangalore
3                Rajasthan Royals
4             Sunrisers Hyderabad
                 ...
69               Rajasthan Royals
70           Lucknow Super Giants
71    Royal Challengers Bangalore
72                 Mumbai Indians
73            Chennai Super Kings
Name: Team1, Length: 74, dtype: object

In [71]:
T1=dt["Team1"].values

In [72]:
T1

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Sunrisers Hyderabad',
       'Delhi Capitals', 'Rajasthan Royals', 'Chennai Super Kings',
       'Kolkata Knight Riders', 'Punjab Kings', 'Chennai Super Kings',
       'Rajasthan Royals', 'Gujarat Titans', 'Kolkata Knight Riders',
       'Chennai Super Kings', 'Royal Challengers Bangalore',
       'Lucknow Super Giants', 'Punjab Kings', 'Mumbai Indians',
       'Delhi Capitals', 'Royal Challengers Bangalore', 'Gujarat Titans',
       'Rajasthan Royals', 'Chennai Super Kings', 'Lucknow Super Giants',
       'Rajasthan Royals', 'Royal Challengers Bangalore',
       'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Sunrisers Hyderabad', 'Rajasthan Royals', 'Punjab Kings',
       'Lucknow Super Giants', 'Royal Challengers Bangalore',
       'Gujarat Titans', 'Rajasthan Royals', 'Mumbai Indians',
       'Punjab Kings', 'Royal Challengers Bangalore', 'Rajasthan Royals',
       'Chennai Super Kings', 'Punjab Kings',
       'Royal Challengers Bangalore', 'Lucknow Super Giants',
       'Kolkata Knight Riders', 'Gujarat Titans', 'Punjab Kings',
       'Chennai Super Kings', 'Gujarat Titans', 'Delhi Capitals',
       'Rajasthan Royals', 'Mumbai Indians', 'Chennai Super Kings',
       'Punjab Kings', 'Delhi Capitals', 'Mumbai Indians',
       'Rajasthan Royals', 'Lucknow Super Giants', 'Punjab Kings',
       'Gujarat Titans', 'Rajasthan Royals', 'Punjab Kings',
       'Chennai Super Kings', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Lucknow Super Giants', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Chennai Super Kings'], dtype=object)

In [77]:
dt

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,1304051,Pune,2022-03-29,2022,5,Rajasthan Royals,Sunrisers Hyderabad,"Maharashtra Cricket Association Stadium, Pune",Sunrisers Hyderabad,field,N,Rajasthan Royals,Runs,61,NaN,SV Samson,"['JC Buttler', 'YBK Jaiswal', 'SV Samson', 'D ...","['KS Williamson', 'Abhishek Sharma', 'RA Tripa...",BNJ Oxenford,UV Gandhe
70,1304050,Mumbai,2022-03-28,2022,4,Lucknow Super Giants,Gujarat Titans,"Wankhede Stadium, Mumbai",Gujarat Titans,field,N,Gujarat Titans,Wickets,5,NaN,Mohammed Shami,"['KL Rahul', 'Q de Kock', 'E Lewis', 'MK Pande...","['Shubman Gill', 'MS Wade', 'V Shankar', 'HH P...",PG Pathak,VK Sharma
71,1304049,Mumbai,2022-03-27,2022,3,Royal Challengers Bangalore,Punjab Kings,"Dr DY Patil Sports Academy, Mumbai",Punjab Kings,field,N,Punjab Kings,Wickets,5,NaN,OF Smith,"['F du Plessis', 'Anuj Rawat', 'V Kohli', 'KD ...","['MA Agarwal', 'S Dhawan', 'PBB Rajapaksa', 'L...",Nitin Menon,YC Barde
72,1304048,Mumbai,2022-03-27,2022,2,Mumbai Indians,Delhi Capitals,"Brabourne Stadium, Mumbai",Delhi Capitals,field,N,Delhi Capitals,Wickets,4,NaN,Kuldeep Yadav,"['RG Sharma', 'Ishan Kishan', 'Anmolpreet Sing...","['PP Shaw', 'TL Seifert', 'Mandeep Singh', 'RR...",RJ Tucker,HAS Khalid
73,1304047,Mumbai,2022-03-26,2022,1,Chennai Super Kings,Kolkata Knight Riders,"Wankhede Stadium, Mumbai",Kolkata Knight Riders,field,N,Kolkata Knight Riders,Wickets,6,NaN,UT Yadav,"['RD Gaikwad', 'DP Conway', 'RV Uthappa', 'AT ...","['AM Rahane', 'VR Iyer', 'N Rana', 'SS Iyer', ...",AK Chaudhary,Nitin Menon

In [78]:
dt.iloc[4,[5,6]]

Team1    Sunrisers Hyderabad
Team2           Punjab Kings
Name: 4, dtype: object

In [80]:
dt.iloc[65:70,[7,8]]

                                            Venue                   TossWinner
65             Dr DY Patil Sports Academy, Mumbai               Mumbai Indians
66                       Wankhede Stadium, Mumbai        Kolkata Knight Riders
67                      Brabourne Stadium, Mumbai         Lucknow Super Giants
68             Dr DY Patil Sports Academy, Mumbai  Royal Challengers Bangalore
69  Maharashtra Cricket Association Stadium, Pune          Sunrisers Hyderabad

In [83]:
dt.loc[2]

ID                                                           1312198
City                                                         Kolkata
Date                                                      2022-05-25
Season                                                          2022
MatchNumber                                               Eliminator
Team1                                    Royal Challengers Bangalore
Team2                                           Lucknow Super Giants
Venue                                          Eden Gardens, Kolkata
TossWinner                                      Lucknow Super Giants
TossDecision                                                   field
SuperOver                                                          N
WinningTeam                              Royal Challengers Bangalore
WonBy                                                           Runs
Margin                                                            14
method                                                           NaN
Player_of_Match                                           RM Patidar
Team1Players       ['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...
Team2Players       ['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...
Umpire1                                                J Madanagopal
Umpire2                                                     MA Gough
Name: 2, dtype: object